process {
    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            [
                path: { "${params.outdir}/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.html"
            ],
            [
                path: { "${params.outdir}/fastqc/zips" },
                mode: params.publish_dir_mode,
                pattern: "*.zip"
            ]
        ]
    }
}