process {
    withName: BISMARK_COVERAGE2CYTOSINE {
        ext.args = params.nomeseq ? '--nome-seq' : ''
        publishDir = [
            publishDir = [
                path: { "${params.outdir}/bismark/coverage2cytosine/summaries" },
                mode: params.publish_dir_mode,
                pattern: "*_summary.txt"
            ],
            publishDir = [
                path: { "${params.outdir}/bismark/coverage2cytosine/reports" },
                mode: params.publish_dir_mode,
                pattern: "*_report.txt.gz"
            ],
            publishDir = [
                path: { "${params.outdir}/bismark/coverage2cytosine/coverage" },
                mode: params.publish_dir_mode,
                pattern: "*cov.gz"
            ]
        ]
    }
}