process {
    withName: BEDTOOLS_INTERSECT {
        ext.args = ''
        ext.suffix = '_targeted.bedGraph'
        publishDir = [
            [
                path: { params.aligner == 'bismark' ? "${params.outdir}/bismark/methylation_calls/bedGraph" : "${params.outdir}/methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*_targeted.bedGraph"
            ]
        ]
    }
}
