process {
    withName: FILTER_BEDGRAPH_TARGETS {
        ext.prefix = { "${bedgraph.baseName}" }
        publishDir = [
            [
                path: { params.aligner == 'bismark' ? "${params.outdir}/bismark/methylation_calls/bedGraph" : "${params.outdir}/methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*targeted.bedGraph"
            ]
        ]
    }
}
