process {
    withName: BEDTOOLS_INTERSECT_COV {
        ext.args   = ''
        ext.prefix = { "${intervals1.baseName}" }
        ext.suffix = 'targeted.cov'
        publishDir = [
            [
                path: { "${params.outdir}/bismark/methylation_calls/methylation_coverage" },
                mode: params.publish_dir_mode,
                pattern: "*targeted.cov"
            ]
        ]
    }
}
