process {
    withName: BEDTOOLS_INTERSECT {
        ext.args   = ''
        ext.prefix = { "${intervals1.baseName}" }
        ext.suffix = 'targeted.bedGraph'
        publishDir = [
            [
                path: { params.aligner == 'bismark' ? "${params.outdir}/bismark/methylation_calls/bedGraph" : "${params.outdir}/methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*targeted.bedGraph"
            ]
        ]
    }
}
