process {
    withName: BWA_INDEX {
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/reference_genome" },
                mode: params.publish_dir_mode,
                pattern: "*",
                enabled: params.save_reference
            ]
        ]
    }
}
