process {
    withName: BWAMETH_INDEX {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename.tokenize("/").last() },
            enabled: params.save_reference
        ]
    }
}
