process {

    withName: 'METHYLDACKEL_EXTRACT_METHYLKIT' {
        ext.args = [
            params.all_contexts ? ' --CHG --CHH' : '',
            params.merge_context ? ' --mergeContext' : '',
            params.ignore_flags ? " --ignoreFlags" : '',
            " --methylKit",
            params.min_depth > 0 ? " --minDepth ${params.min_depth}" : ''
        ].join(" ").trim()
        publishDir = [
            path: { "${params.outdir}/methyldackel" },
            mode: params.publish_dir_mode,
            pattern: "*.methylKit"
        ]
    }

    withName: 'COMBINED_METHOBJ|COMBINED_HDF5|CONTROL_STATS|BASIC_READ_STATISTICS|TILE_METHYL_COUNTS|MERGE_TILED_STATS|TWIST_ANNOTATION|REPEAT_ANNOTATION|MERGE_ANNOTATION_STATS|METH_HISTOGRAM_BY_CHROMOSOME' {
        publishDir = [
            path: { "${params.outdir}/methqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'METHSNSV' {
        publishDir = [
            path: { "${params.outdir}/methqc/sn_sv" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: 'BEDTOOLS_INTERSECT_CPG|BEDTOOLS_PERBASE_GENOMECOV' {
        publishDir = [
            path: { "${params.outdir}/cpg_coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUSTOM_MULTIQC_PICARDHS' {
        publishDir = [
            path: { "${params.outdir}/multiqc/picard_hs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
