process {
    withName: METHURATOR_GTESTIMATOR {
        ext.args = [
            params.methurator_compute_ci ? ' --compute_ci' : '',
            params.rrbs ? ' --rrbs' : '',
            params.methurator_minimum_coverage ? " --minimum-coverage ${params.methurator_minimum_coverage}" : "",
            params.methurator_t_max ? " --t-max ${params.methurator_t_max}" : ""
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/methurator/summaries/" },
                mode: params.publish_dir_mode,
                pattern: "*.yml"
            ]
        ]
    }
}
