process {
    ext.args = [
        params.compute_ci ? ' --compute_ci' : '',
        params.rrbs ? ' --rrbs' : '',
        params.t_max ? " --t-max ${params.t_max}" : ""
    ].join(" ").trim()
    withName: METHURATOR_GTESTIMATOR {
        publishDir = [
            [
                path: { "${params.outdir}/methurator/summaries" },
                mode: params.publish_dir_mode,
                pattern: "*.yml"
            ]
        ]
    }
}
