process {
    withName: PARABRICKS_FQ2BAMMETH {
        cache = 'lenient' // This is set because in the module command the index files are touched so as to have bwameth not complain
        ext.args = '--low-memory'
        publishDir = [
                path: { "${params.outdir}/${params.aligner}/alignments" },
                pattern: "*.bam",
                mode: params.publish_dir_mode,
                enabled: params.save_align_intermeds
        ]
    }
}
