process {
    withName: PICARD_COLLECTHSMETRICS {
        ext.args = "--MINIMUM_MAPPING_QUALITY 20 --COVERAGE_CAP 1000  --NEAR_DISTANCE 500"
        publishDir = [
            path: { "${params.outdir}/enrichment_metrics" },
            mode: params.publish_dir_mode,
            pattern: "*_metrics"
        ]
    }
}
