process {
    withName: QUALIMAP_BAMQC {
        ext.args = [
            params.genome.toString().startsWith('GRCh') ? '-gd HUMAN' : '',
            params.genome.toString().startsWith('GRCm') ? '-gd MOUSE' : ''
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/qualimap/bamqc/" },
                mode: params.publish_dir_mode,
                pattern: "*",
                enabled: params.run_qualimap
            ]
        ]
    }
}
