process {
    withName: RASTAIR_CALL {
        ext.args = [
            // Pending the resolution of the mbias_parse process
            params.trim_OT ?: '0,0,10,0', // [r1_start, r1_end, r2_start, r2_end]
            params.trim_OB ?: '0,0,10,0' // [r1_start, r1_end, r2_start, r2_end]
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/rastair/call" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ], [
                path: { "${params.outdir}/rastair/call" },
                mode: params.publish_dir_mode,
                pattern: "*.gz"
            ]
        ]
    }
}
