process {
    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/alignments/" },
                mode: params.publish_dir_mode,
                pattern: "*.sorted.bam",
                enabled: params.skip_deduplication || params.rrbs || params.save_align_intermeds
            ]
        ]
    }
}
