process {
    withName: SAMTOOLS_INDEX {
        ext.prefix = ""
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/" },
                mode: params.publish_dir_mode,
                pattern: "*.bai",
                enabled: !(params.skip_deduplication || params.rrbs)
            ],
            [
                path: { "${params.outdir}/${params.aligner}/alignments/" },
                mode: params.publish_dir_mode,
                pattern: "*.bai",
                enabled: params.skip_deduplication || params.rrbs
            ]
        ]
    }
}
