/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/methylseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                       = null

    // References
    genome                      = null
    igenomes_base               = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore             = false

    // MultiQC options
    multiqc_config               = null
    multiqc_title                = null
    multiqc_logo                 = null
    max_multiqc_email_size       = '25.MB'
    multiqc_methods_description  = null

    // Intermediate files
    save_reference               = false
    save_align_intermeds         = false
    unmapped                     = false
    save_trimmed                 = false

    // Alignment options
    aligner                      = 'bismark'
    use_mem2                     = false

    // Library presets
    taps                         = false
    pbat                         = false
    rrbs                         = false
    slamseq                      = false
    em_seq                       = false
    single_cell                  = false
    accel                        = false
    zymo                         = false

    // Trimming options
    clip_r1                      = 0
    clip_r2                      = 0
    three_prime_clip_r1          = 0
    three_prime_clip_r2          = 0
    nextseq_trim                 = 0
    trim_OT                     = '0,0,10,0' // [r1_start, r1_end, r2_start, r2_end]
    trim_OB                     = '0,0,10,0' // [r1_start, r1_end, r2_start, r2_end]
    length_trim                  = null
    skip_trimming_presets        = false

    // Bismark options
    non_directional              = false
    cytosine_report              = false
    relax_mismatches             = false
    num_mismatches               = 0.6
    // 0.6 will allow a penalty of bp * -0.6
    // For 100bp reads, this is -60. Mismatches cost -6, gap opening -5 and gap extension -2
    // So -60 would allow 10 mismatches or ~ 8 x 1-2bp indels
    // Bismark default is 0.2 (L,0,-0.2), Bowtie2 default is 0.6 (L,0,-0.6)
    meth_cutoff                  = null
    no_overlap                   = true
    ignore_r1                    = 0
    ignore_r2                    = 2
    ignore_3prime_r1             = 0
    ignore_3prime_r2             = 2
    known_splices                = null
    local_alignment              = false
    minins                       = null
    maxins                       = null
    nomeseq                      = false
    comprehensive                = false

    // bwa-meth options
    all_contexts                 = false
    merge_context                = false
    min_depth                    = 0
    ignore_flags                 = false
    methyl_kit                   = false


    // Skipping options
    skip_trimming                = false
    skip_deduplication           = false
    skip_fastqc                  = false
    skip_multiqc                 = false

    // Run options
    run_preseq                   = false
    run_qualimap                 = false
    run_targeted_sequencing      = false

    // Qualimap options
    bamqc_regions_file           = null

    // Targeted sequencing options
    target_regions_file          = null
    collecthsmetrics             = false

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/methylseq/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version        = 'master'
    custom_config_base           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact       = null
    config_profile_url           = null

    // Schema validation default options
    validate_params              = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test            { includeConfig 'conf/test.config'            }
    test_gpu        { includeConfig 'conf/test_gpu.config'        }
    test_single_gpu { includeConfig 'conf/test_single_gpu.config' }
    test_full       { includeConfig 'conf/test_full.config'       }
    aws_batch       { includeConfig 'conf/aws/batch/nextflow.config' }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/methylseq custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/methylseq custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/methylseq.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/methylseq'
    contributors    = [
        [
            name: 'Phil Ewels',
            affiliation: 'Seqera',
            email: 'phil.ewels@seqera.io',
            github: 'https://github.com/ewels',
            contribution: ['author', 'contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0003-4101-2502'
        ],
        [
            name: 'Sateesh Peri',
            affiliation: 'PeriMatrixIT',
            email: 'perisateesh@gmail.com',
            github: 'https://github.com/sateeshperi',
            contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-9879-9070'
        ],
        [
            name: 'Felix Krueger',
            affiliation: 'Altos Lab',
            email: 'fkrueger@altoslabs.com',
            github: 'https://github.com/FelixKrueger',
            contribution: ['maintainer', 'contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-5513-3324'
        ],
        [
            name: 'Edmund Miller',
            affiliation: 'Department of Biological Sciences and Center for Systems Biology, University of Texas at Dallas, Texas, USA',
            email: 'nf-core@edmundmiller.dev',
            github: 'https://github.com/edmundmiller',
            contribution: ['maintainer', 'contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-2398-0334'
        ],
        [
            name: 'Rickard Hammarén',
            affiliation: '',
            email: '',
            github: 'https://github.com/Hammarn',
            contribution: ['contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: 'Alexander Peltzer',
            affiliation: 'Boehringer Ingelheim Pharma GmBh & Co KG',
            email: 'alex.peltzer@gmail.com',
            github: 'https://github.com/apeltzer',
            contribution: ['contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-6503-2180'
        ],
        [
            name: 'Patrick Hüther',
            affiliation: '',
            email: '',
            github: 'https://github.com/phue',
            contribution: ['contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: 'Maxime U Garcia',
            affiliation: 'Seqera',
            email: 'maxime.garcia@seqera.io',
            github: 'https://github.com/maxulysse',
            contribution: ['contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0003-2827-9261'
        ],
        [
            name: 'Daniel Carrillo Bautista',
            affiliation: 'Human Technopole',
            email: 'daniel.carrillo@fht.org',
            github: 'https://github.com/dcarrillox',
            contribution: ['contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-1261-6836'
        ],
        [
            name: 'Luigi Antonio Lamparelli',
            affiliation: 'Human Technopole',
            email: 'luigi.lamparelli@fht.org',
            github: 'https://github.com/luigilamparelli',
            contribution: ['contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-9571-2582'
        ]
    ]
    homePage        = 'https://github.com/nf-core/methylseq'
    description     = """Methylation (Bisulfite-Sequencing) Best Practice analysis pipeline, part of the nf-core community."""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.5'
    version         = '4.1.0'
    doi             = '10.5281/zenodo.1343417'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.4.2' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run nf-core/methylseq -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-
                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m
\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m
\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m
\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m
                                        \033[0;32m`._,._,\'\033[0m
\033[0;35m  nf-core/methylseq ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText = """${manifest.doi ? "* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "  https://doi.org/${it.trim().replace('https://doi.org/','')}"}.join("\n")}${manifest.doi ? "\n" : ""}
* The nf-core framework
    https://doi.org/10.1038/s41587-020-0439-x

* Software dependencies
    https://github.com/nf-core/methylseq/blob/master/CITATIONS.md
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText = validation.help.afterText
    }
}

// Load workflow specific config for DSL2 module specific options
includeConfig './workflows/methylseq/nextflow.config'
