config {
    // location for all nf-tests
    testsDir "."

    // nf-test directory including temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // location of an optional nextflow.config file specific for executing tests
    configFile "tests/nextflow.config"

    // run all test with the defined docker profile from the main nextflow.config
    profile "test"

    // List of filenames or patterns that should be trigger a full test run
    triggers 'nextflow.config', 'nf-test.config', 'conf/test.config', 'conf/test_full.config'

    // load the necessary plugins
    plugins {
        load "nft-bam@0.5.0"
        load "nft-utils@0.0.3"
    }
}
