
includeConfig "../../../modules/nf-core/bwameth/align/nextflow.config"
includeConfig "../../../modules/nf-core/samtools/sort/nextflow.config"

includeConfig "../../../modules/nf-core/samtools/flagstat/nextflow.config"
includeConfig "../../../modules/nf-core/samtools/stats/nextflow.config"
includeConfig "../../../modules/nf-core/picard/markduplicates/nextflow.config"
includeConfig "../../../modules/nf-core/methyldackel/extract/nextflow.config"
includeConfig "../../../modules/nf-core/methyldackel/mbias/nextflow.config"
