process {
    withName: BWAMETH_INDEX {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/reference_genome" },
            mode: params.publish_dir_mode,
            saveAs: { it.equals('versions.yml') ? null : it.tokenize("/").last() },
            enabled: params.save_reference
        ]
    }
}