process {
    withName: METHYLDACKEL_EXTRACT {
        ext.args = [
            params.comprehensive ? ' --CHG --CHH' : '',
            params.ignore_flags ? " --ignoreFlags" : '',
            params.methyl_kit ? " --methylKit" : '',
            params.min_depth > 0 ? " --minDepth ${params.min_depth}" : ''
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*.bedGraph"
            ],
            [
                path: { "${params.outdir}/methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*.methylKit"
            ]
        ]
    }
}