/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Base directory for nf-core/modules test data
    modules_testdata_base_path   = 's3://ngi-igenomes/testdata/nf-core/modules/'
    // Base directory for nf-core/methylseq test data
    pipelines_testdata_base_path = 'https://github.com/nf-core/test-datasets/raw/methylseq/'

    // Input data
    input       = "${projectDir}/assets/samplesheet.csv"
    fasta       = "${params.pipelines_testdata_base_path}/reference/genome.fa.gz"
    fasta_index = "${params.pipelines_testdata_base_path}/reference/genome.fa.fai"
    outdir      = 'results'
}

// Impose sensible resource limits for testing
process {
    resourceLimits = [
        cpus: 2,
        memory: '3.GB',
        time: '2.h'
    ]

    withName: PRESEQ_LCEXTRAP {
        errorStrategy = 'ignore'
    }
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=24.04.2'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }
