/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Base directory for nf-core/modules test data
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    // Base directory for nf-core/methylseq test data
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/methylseq/'

    // Input data
    input               = "${projectDir}/assets/samplesheet.csv"
    fasta               = params.pipelines_testdata_base_path + 'reference/genome.fa.gz'
    fasta_index         = params.pipelines_testdata_base_path + 'reference/genome.fa.fai'
    target_regions_file =  "${projectDir}/assets/genome_target_regions.bed"
    outdir              = 'results'
}

// Impose sensible resource limits for testing
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
