/*
========================================================================================
    wmg_nextflow/masterworkflow Nextflow AWS Batch config file
========================================================================================
    Default config options for AWS Batch
----------------------------------------------------------------------------------------
*/

// Load aws nextflow.config by default
includeConfig '../nextflow.config'

params {

    // Max resource options
    max_memory                 = '256.GB'
    max_cpus                   = 256
    max_time                   = '240.h'
    on_demand_only             = false
    on_demand_queue            = 'nextflow-with-dockerhub-aws-batch-large'
    spot_queue                 = 'casserole-spot'
    heavy_on_demand_queue      = 'casserole-heavy'
}

// Load base.config by default for all pipelines
includeConfig './base.config'

// Load modules.config for DSL2 module specific options
includeConfig './modules.config'

// Load aws nextflow.config by default
includeConfig '../nextflow.config'

process {
    executor = 'awsbatch'
    queue = {
        def num_bytes = (meta?.num_bytes?.toString()?.isNumber() ? meta.num_bytes.toLong() : 0L)
        def num_bytes_cap = 15000000000
        task.attempt <= 1 && !params.on_demand_only && num_bytes <= num_bytes_cap ? params.spot_queue :
        num_bytes > num_bytes_cap ? params.heavy_on_demand_queue : params.on_demand_queue
    }
}

aws {
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    region = 'us-west-2'
}

// Ensure workDir does not clash with other parallel runs
// to protect against conflicting writes and cleanup deletion
workDir = "${params.outdir}/work/${params.tab_name}"
