
includeConfig "../modules/bwameth_align.config"
includeConfig "../modules/parabricks_fq2bammeth.config"
includeConfig "../modules/samtools_sort.config"
includeConfig "../modules/samtools_flagstat.config"
includeConfig "../modules/picard_markduplicates.config"
includeConfig "../modules/methyldackel_extract.config"
includeConfig "../modules/methyldackel_mbias.config"

process {

    withName: SAMTOOLS_INDEX_ALIGNMENTS {
        ext.args = ""
    }

    withName: SAMTOOLS_INDEX_DEDUPLICATED {
        ext.args = ""
    }

}
