
includeConfig "../modules/bwameth_align.config"
includeConfig "../modules/parabricks_fq2bammeth.config"
includeConfig "../modules/samtools_sort.config"
includeConfig "../modules/samtools_flagstat.config"
includeConfig "../modules/samtools_stats.config"
includeConfig "../modules/picard_markduplicates.config"

process {

    withName: SAMTOOLS_INDEX_ALIGNMENTS {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/alignments/" },
                mode: params.publish_dir_mode,
                pattern: "*.bam.bai",
                enabled: params.save_align_intermeds
            ]
        ]
    }

    withName: SAMTOOLS_INDEX_DEDUPLICATED {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/" },
                mode: params.publish_dir_mode,
                pattern: "*.bam.bai"
            ]
        ]
    }

}
