
includeConfig "../../../modules/nf-core/bismark/align/nextflow.config"
includeConfig "../../../modules/nf-core/samtools/sort/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/deduplicate/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/methylationextractor/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/coverage2cytosine/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/report/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/summary/nextflow.config"

process {
    withName: SAMTOOLS_SORT_DEDUPLICATED {
        ext.prefix = { "${meta.id}.deduplicated.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/" },
                mode: params.publish_dir_mode,
                pattern: "*.deduplicated.sorted.bam"
            ]
        ]
    }
}
