process {
    withName: METHYLDACKEL_MBIAS {
        ext.args = [
            params.comprehensive ? ' --CHG --CHH' : '',
            params.ignore_flags ? " --ignoreFlags" : ''
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/methyldackel/mbias" },
                mode: params.publish_dir_mode,
                pattern: "*mbias.txt"
            ]
        ]
    }
}