process { withName: 'BISMARK_ALIGN' { container = 'modules/nf-core/bismark/align/.conda-lock/linux_arm64-bd-f83bc6617fa3cadd_1.txt' } }
process { withName: 'BISMARK_COVERAGE2CYTOSINE' { container = 'modules/nf-core/bismark/coverage2cytosine/.conda-lock/linux_arm64-bd-f83bc6617fa3cadd_1.txt' } }
process { withName: 'BISMARK_DEDUPLICATE' { container = 'modules/nf-core/bismark/deduplicate/.conda-lock/linux_arm64-bd-f83bc6617fa3cadd_1.txt' } }
process { withName: 'BISMARK_GENOMEPREPARATION' { container = 'modules/nf-core/bismark/genomepreparation/.conda-lock/linux_arm64-bd-f83bc6617fa3cadd_1.txt' } }
process { withName: 'BISMARK_METHYLATIONEXTRACTOR' { container = 'modules/nf-core/bismark/methylationextractor/.conda-lock/linux_arm64-bd-f83bc6617fa3cadd_1.txt' } }
process { withName: 'BISMARK_REPORT' { container = 'modules/nf-core/bismark/report/.conda-lock/linux_arm64-bd-f83bc6617fa3cadd_1.txt' } }
process { withName: 'BISMARK_SUMMARY' { container = 'modules/nf-core/bismark/summary/.conda-lock/linux_arm64-bd-f83bc6617fa3cadd_1.txt' } }
process { withName: 'FASTQC' { container = 'modules/nf-core/fastqc/.conda-lock/linux_arm64-bd-e455e32f745abe68_1.txt' } }
process { withName: 'MULTIQC' { container = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-d167b8012595a136_1.txt' } }
