process { withName: 'BISMARK_ALIGN' { container = 'oras://community.wave.seqera.io/library/bismark:3.1.0--3abb485fce628c19' } }
process { withName: 'BISMARK_COVERAGE2CYTOSINE' { container = 'oras://community.wave.seqera.io/library/bismark:3.1.0--3abb485fce628c19' } }
process { withName: 'BISMARK_DEDUPLICATE' { container = 'oras://community.wave.seqera.io/library/bismark:3.1.0--3abb485fce628c19' } }
process { withName: 'BISMARK_GENOMEPREPARATION' { container = 'oras://community.wave.seqera.io/library/bismark:3.1.0--3abb485fce628c19' } }
process { withName: 'BISMARK_METHYLATIONEXTRACTOR' { container = 'oras://community.wave.seqera.io/library/bismark:3.1.0--3abb485fce628c19' } }
process { withName: 'BISMARK_REPORT' { container = 'oras://community.wave.seqera.io/library/bismark:3.1.0--3abb485fce628c19' } }
process { withName: 'BISMARK_SUMMARY' { container = 'oras://community.wave.seqera.io/library/bismark:3.1.0--3abb485fce628c19' } }
process { withName: 'FASTQC' { container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--5c4bd442468d75dd' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.34--4fc8657c816047c0' } }
