process { withName: 'BISMARK_ALIGN' { container = 'modules/nf-core/bismark/align/.conda-lock/linux_amd64-bd-9557d6ab108a83e4_1.txt' } }
process { withName: 'BISMARK_COVERAGE2CYTOSINE' { container = 'modules/nf-core/bismark/coverage2cytosine/.conda-lock/linux_amd64-bd-9557d6ab108a83e4_1.txt' } }
process { withName: 'BISMARK_DEDUPLICATE' { container = 'modules/nf-core/bismark/deduplicate/.conda-lock/linux_amd64-bd-9557d6ab108a83e4_1.txt' } }
process { withName: 'BISMARK_GENOMEPREPARATION' { container = 'modules/nf-core/bismark/genomepreparation/.conda-lock/linux_amd64-bd-9557d6ab108a83e4_1.txt' } }
process { withName: 'BISMARK_METHYLATIONEXTRACTOR' { container = 'modules/nf-core/bismark/methylationextractor/.conda-lock/linux_amd64-bd-9557d6ab108a83e4_1.txt' } }
process { withName: 'BISMARK_REPORT' { container = 'modules/nf-core/bismark/report/.conda-lock/linux_amd64-bd-9557d6ab108a83e4_1.txt' } }
process { withName: 'BISMARK_SUMMARY' { container = 'modules/nf-core/bismark/summary/.conda-lock/linux_amd64-bd-9557d6ab108a83e4_1.txt' } }
process { withName: 'FASTQC' { container = 'modules/nf-core/fastqc/.conda-lock/linux_amd64-bd-5cb1a2fa2f18c7c2_1.txt' } }
process { withName: 'MULTIQC' { container = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-db7c73dae76bc9e6_1.txt' } }
