/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

 params {
    modules {
        'fastqc' {
            args          = "--quiet"
        }
        'trimgalore' {
            args          = "--fastqc"
            publish_files = ['txt':'', 'html':'fastqc', 'zip':'fastqc']
        }
        'bismark_genomepreparation' {
            args          = ""
            publish_dir   = "${params.aligner}/reference_genome"
        }
        'bismark_index' {
            args          = ""
        }
        'bismark_align' {
            args = ""
            publish_files = ['.fq.gz':'unmapped', 'txt':'logs']
            publish_dir   = "${params.aligner}/alignments"
        }
        'bismark_deduplicate' {
            args = ""
            publish_files = ['txt':'logs']
            publish_dir   = "${params.aligner}/deduplicated"
        }
        'bismark_methylationextractor' {
            args = ""
            publish_files = ['M-bias.txt':'mbias', 'txt':'logs', 'cov.gz':'methylation_coverage', 'bedGraph.gz':'bedGraph', 'report.txt.gz':'stranded_CpG_report', 'txt.gz':'methylation_calls']
            publish_dir   = "${params.aligner}/methylation_calls"
        }
        'bismark_report' {
            args          = ""
            publish_dir   = "${params.aligner}/reports"
        }
        'bismark_summary' {
            args          = ""
            publish_dir   = "${params.aligner}/summary"
        }
        'bwameth_index' {
            args          = ""
            publish_dir = "${params.aligner}/reference_genome"
        }
        'bwameth_align' {
            args          = ""
            publish_dir = "${params.aligner}/alignments"
        }
        'picard_markduplicates' {
            args          = "ASSUME_SORTED=true REMOVE_DUPLICATES=false VALIDATION_STRINGENCY=LENIENT PROGRAM_RECORD_ID='null' TMP_DIR=tmp"
            suffix        = ".markdup.sorted"
            publish_files = ['bam': '', 'metrics.txt':'picard_metrics']
            publish_dir   = "${params.aligner}/deduplicated"
        }
        'samtools_sort' {
            publish_files = ['deduplicated.sorted.bam': 'deduplicated', 'markdup.sorted.bam':'alignments']
            publish_dir = "${params.aligner}"
        }
        'samtools_flagstat' {
            publish_files = ['flagstat':'samtools_stats']
            publish_dir   = "${params.aligner}"
        }
        'samtools_stats' {
            publish_files = ['stats':'samtools_stats']
            publish_dir   = "${params.aligner}"
        }
        'samtools_index' {
            args = ""
            publish_files = ['bai':'']
        }
        'methyldackel_mbias' {
            args = ""
        }
        'methyldackel_extract' {
            args = ""
        }
        'samtools_faidx' {
            args = ""
            publish_dir = "${params.aligner}/reference_genome"
        }
        'qualimap_bamqc' {
            args = ""
        }
        'preseq_lcextrap' {
            args          = "-verbose -bam"
            publish_files = ['txt':'', 'log':'log']
            publish_dir   = "preseq"
        }
        'multiqc' {
            args          = ""
            publish_dir   = "multiqc/${params.aligner}"
        }
    }
 }
