/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: TRIMGALORE {
        ext.args = params.rrbs ? '--fastqc --rrbs' : '--fastqc'
        publishDir = [
            [
                path: { "${params.outdir}/trimgalore/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.save_trimmed
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }

    withName: BISMARK_GENOMEPREPARATION {
        ext.args   = [
                        params.aligner == 'bismark_hisat' ? ' --hisat2' : ' --bowtie2',
                        params.slamseq ? ' --slam' : ''
                    ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/reference_genome" },
            mode: params.publish_dir_mode,
            enabled: params.save_reference
        ]
    }

    withName: BISMARK_INDEX {
        ext.args = ''
    }

    withName: BISMARK_ALIGN {
        ext.args   = [
                        params.aligner == 'bismark_hisat' ? ' --hisat2' : ' --bowtie2',
                        params.aligner == 'bismark_hisat' && params.known_splices ? " --known-splicesite-infile <(hisat2_extract_splice_sites.py ${known_splices})" : '',
                        params.pbat ? ' --pbat' : '',
                        ( params.single_cell || params.non_directional || params.zymo ) ? ' --non_directional' : '',
                        params.unmapped ? ' --unmapped' : '',
                        params.relax_mismatches ? " --score_min L,0,-${params.num_mismatches}" : '',
                        params.local_alignment ? " --local" : '',
                        params.minins ? " --minins ${params.minins}" : '',
                        params.maxins ? " --minins ${params.maxins}" : ''
                    ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.aligner}/alignments/unmapped" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.save_align_intermeds
            ],
            [
                path: { "${params.outdir}/${params.aligner}/alignments/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }

    withName: BISMARK_DEDUPLICATE {
        ext.args = ''
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }

    withName: BISMARK_METHYLATIONEXTRACTOR {
        ext.args   = [
                        params.comprehensive   ? ' --comprehensive --merge_non_CpG' : '',
                        params.cytosine_report ? ' --cytosine_report --genome_folder BismarkIndex' : '',
                        params.meth_cutoff     ? " --cutoff ${params.meth_cutoff}" : ''
                    ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/mbias" },
                mode: params.publish_dir_mode,
                pattern: "M-bias.txt"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/mbias" },
                mode: params.publish_dir_mode,
                pattern: "*M-bias.txt"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/methylation_coverage" },
                mode: params.publish_dir_mode,
                pattern: "*cov.gz"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/bedGraph" },
                mode: params.publish_dir_mode,
                pattern: "*bedGraph.gz"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/stranded_CpG_report" },
                mode: params.publish_dir_mode,
                pattern: "*report.txt.gz"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/methylation_calls" },
                mode: params.publish_dir_mode,
                pattern: "*txt.gz"
            ]
        ]
    }

    withName: BISMARK_REPORT {
        ext.args = ''
        publishDir = "${params.outdir}/${params.aligner}/reports"
    }

    withName: BISMARK_SUMMARY {
        ext.args = ''
        publishDir = "${params.outdir}/${params.aligner}/summary"
    }

    withName: BWAMETH_INDEX {
        ext.args = ''
        publishDir = [
                path: { "${params.outdir}/${params.aligner}/reference_genome" },
                mode: params.publish_dir_mode,
                enabled: params.save_reference
        ]
    }

    withName: BWAMETH_ALIGN {
        ext.args = ''
        publishDir = [
                path: { "${params.outdir}/${params.aligner}/alignments" },
                mode: params.publish_dir_mode,
                enabled: params.save_align_intermeds
        ]
    }

    withName: PICARD_MARKDUPLICATES {
        ext.args = "ASSUME_SORTED=true REMOVE_DUPLICATES=false VALIDATION_STRINGENCY=LENIENT PROGRAM_RECORD_ID='null' TMP_DIR=tmp"
        ext.prefix = { "${meta.id}.markdup.sorted" }
        publishDir = [
                path: { "${params.outdir}/${params.aligner}/deduplicated/picard_metrics" },
                mode: params.publish_dir_mode,
                pattern: "metrics.txt"
        ]
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/" },
                mode: params.publish_dir_mode,
                pattern: "deduplicated.sorted.bam",
                enabled: params.save_align_intermeds
            ],
            [
                path: { "${params.outdir}/${params.aligner}/alignments/" },
                mode: params.publish_dir_mode,
                pattern: "markdup.sorted.bam",
                enabled: params.save_align_intermeds
            ]
        ]
    }

    withName: SAMTOOLS_FLAGSTAT {
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/samtools_stats/" },
                mode: params.publish_dir_mode,
                pattern: "flagstat"
            ]
        ]
    }

    withName: SAMTOOLS_STATS {
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/samtools_stats/" },
                mode: params.publish_dir_mode,
                pattern: "stats"
            ]
        ]
    }

    withName: SAMTOOLS_INDEX {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/samtools_stats/" },
                mode: params.publish_dir_mode,
                pattern: "bai",
                enabled: false
            ]
        ]
    }

    withName: SAMTOOLS_INDEX_ALIGNMENTS {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/alignments/" },
                mode: params.publish_dir_mode,
                pattern: "bai",
                enabled: params.save_align_intermeds
            ]
        ]
    }

    withName: SAMTOOLS_INDEX_DEDUPLICATED {
        ext.args = ""
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/deduplicated/" },
                mode: params.publish_dir_mode,
                pattern: "bai"
            ]
        ]
    }

    withName: METHYLDACKEL_MBIAS {
        ext.args = [
            params.comprehensive ? ' --CHG --CHH' : '',
            params.ignore_flags ? " --ignoreFlags" : ''
        ].join(" ").trim()
    }

    withName: METHYLDACKEL_EXTRACT {
        ext.args = [
            params.comprehensive ? ' --CHG --CHH' : '',
            params.ignore_flags ? " --ignoreFlags" : '',
            params.methyl_kit ? " --methylKit" : '',
            params.min_depth > 0 ? " --minDepth ${params.min_depth}" : ''
        ].join(" ").trim()
    }

    withName: SAMTOOLS_FAIDX {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/reference_genome" },
            enabled: params.save_reference
        ]
    }

    withName: QUALIMAP_BAMQC {
        ext.args = ""
    }

    withName: PRESEQ_LCEXTRAP {
        ext.args = " -verbose -bam"
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/preseq" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/preseq/log" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: MULTIQC {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/multiqc/${params.aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}






