/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

// resume: true

docker {
  enabled = true
}

params {
  max_cpus: 2
  max_memory: 7.GB
  max_time: 48.h
  singleEnd: true
  fasta: 'https://uppmax.cloud.snic.se:8080/v1/AUTH_49a64ffb0bd848e99210aa02b5515da4/nf-core-testdata/MethylSeq//references/WholeGenomeFasta/genome.fa'
  reads: 'https://uppmax.cloud.snic.se:8080/v1/AUTH_49a64ffb0bd848e99210aa02b5515da4/nf-core-testdata/MethylSeq/SRR389222_sub{1,2,3}.fastq.gz'
}
