/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * --------------------------------------------------------
 *  Nextflow config file for automated testing with Travis
 * --------------------------------------------------------
 */

docker {
  enabled = true
  // Fixes Docker mount point error on travis.
  // Can be removed after Nextflow v0.25.1 is released
  writableInputMounts = true
}
process {
  container = 'scilifelab/ngi-methylseq'
  cpus = 2
  memory = 7.GB
  time = 48.h
}
