params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/methylseq"

    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // TODO: Add all test data to test_data.config
    test_data {
        'assets' {
                test_samplesheet        = "${params.test_data_base}/samplesheet/samplesheet_test.csv"
        }
        'workflows' {
            'methylseq' {
                fasta       = "${params.test_data_base}/reference/genome.fa"
                fasta_index = "${params.test_data_base}/reference/genome.fa.fai"
            }
        }
        'sarscov2' {
            'illumina' {
                test_1_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
                test_2_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test_2.fastq.gz"
                test2_1_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test2_1.fastq.gz"
                test2_2_fastq_gz        = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastq/test2_2.fastq.gz"
                contigs_fasta           = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fasta/contigs.fasta"
                scaffolds_fasta         = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fasta/scaffolds.fasta"
                test_single_end_bam     = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/bam/test.single_end.bam"
                test_paired_end_bam     = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/bam/test.paired_end.bam"
                test_1_fastq_gz_fastqc_zip = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/fastqc/test_fastqc.zip"
        }
        'genome' {
                genome_fasta_gz         = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta.gz"
                genome_fasta            = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta"
                kraken2_tar_gz          = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/db/kraken2.tar.gz"
            }
        }
    }
}
