/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test,<conda/docker/singularity>
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/methylseq/samplesheet/samplesheet_test.csv"

    // Genome references
    fasta = 'https://github.com/nf-core/test-datasets/raw/methylseq/reference/genome.fa'
    fasta_index = 'https://github.com/nf-core/test-datasets/raw/methylseq/reference/genome.fa.fai'
}
