/*
 * -------------------------------------------------
 *  Nextflow config file for running full-size tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data for full size test
  input_paths = [
    ['SRR7961089_GSM3415653_MShef1',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961089_GSM3415653_MShef11_bulk_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961089_GSM3415653_MShef11_bulk_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ],
    ],
    ['SRR7961103_GSM3415667_MShef11_low_oxygen_Q2',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961103_GSM3415667_MShef11_low_oxygen_Q2_BSseq_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961103_GSM3415667_MShef11_low_oxygen_Q2_BSseq_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ],
    ],
    ['SRR7961102_GSM3415666_MShef11_low_oxygen_Q1',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961102_GSM3415666_MShef11_low_oxygen_Q1_BSseq_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961102_GSM3415666_MShef11_low_oxygen_Q1_BSseq_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ],
    ],
    ['SRR7961104_GSM3415668_MShef11_low_oxygen_Q3',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961104_GSM3415668_MShef11_low_oxygen_Q3_BSseq_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961104_GSM3415668_MShef11_low_oxygen_Q3_BSseq_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ],
    ],
    ['SRR7961150_GSM3415714_MShef4_bulk',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961150_GSM3415714_MShef4_bulk_BSseq_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961150_GSM3415714_MShef4_bulk_BSseq_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ],
    ],
    ['SRR7961161_GSM3415725_MShef4_J1',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961161_GSM3415725_MShef4_J1_BSseq_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961161_GSM3415725_MShef4_J1_BSseq_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ],
    ],
    ['SRR7961164_GSM3415728_MShef4_J3',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961164_GSM3415728_MShef4_J3_BSseq_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961164_GSM3415728_MShef4_J3_BSseq_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ],
    ],
    ['SRR7961163_GSM3415727_MShef4_J2',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961163_GSM3415727_MShef4_J2_BSseq_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961163_GSM3415727_MShef4_J2_BSseq_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ]
    ]
  ]

  genome = 'GRCh38'
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}


// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/009/SRR7961089/SRR7961089_1.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/009/SRR7961089/SRR7961089_2.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/003/SRR7961103/SRR7961103_1.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/003/SRR7961103/SRR7961103_2.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/002/SRR7961102/SRR7961102_1.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/002/SRR7961102/SRR7961102_2.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/004/SRR7961104/SRR7961104_1.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/004/SRR7961104/SRR7961104_2.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/000/SRR7961150/SRR7961150_1.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/000/SRR7961150/SRR7961150_2.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/001/SRR7961161/SRR7961161_1.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/001/SRR7961161/SRR7961161_2.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/004/SRR7961164/SRR7961164_1.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/004/SRR7961164/SRR7961164_2.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/003/SRR7961163/SRR7961163_1.fastq.gz
// ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR796/003/SRR7961163/SRR7961163_2.fastq.gz
