/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test,<conda/docker/singularity>
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    input = "${projectDir}/assets/samplesheet.csv"

    // Genome references
    fasta = "${params.test_data_base}/reference/genome.fa"
    fasta_index = "${params.test_data_base}/reference/genome.fa.fai"
}

includeConfig './test_data.config'
