/* -------------------------------------------------
 *  Example Nextflow config file for UPPMAX (milou)
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Should be saved either with Nextflow installation or
 * as file ~/.nextflow/config
 */


process {
  executor = 'slurm'
  queue = 'devcore'
  cpus = { 1 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = 1.h
  clusterOptions = { "-A $params.project " + (params.clusterOptions ?: '') }
  
  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
  
  // Environment modules and resource requirements
  $fastqc {
    module = ['bioinfo-tools', 'FastQC']
    errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'ignore' }
  }
  $trim_galore {
    module = ['bioinfo-tools', 'TrimGalore']
    cpus = { 2 * task.attempt }
    memory = { 16.GB * task.attempt }
  }
  $bismark_align {
    module = ['bioinfo-tools', 'samtools/1.3', 'bismark']
    cpus = { 8 * task.attempt }
    memory = { 64.GB * task.attempt }
  }
  $bismark_deduplicate {
    module = ['bioinfo-tools', 'samtools/1.3', 'bismark']
    cpus = { 8 * task.attempt }
    memory = { 64.GB * task.attempt }
  }
  $bismark_methXtract {
    module = ['bioinfo-tools', 'samtools/1.3', 'bismark']
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
  }
  $bismark_report {
    module = ['bioinfo-tools', 'bismark']
    errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'ignore' }
  }
  $bismark_summary {
    module = ['bioinfo-tools', 'bismark']
    errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'ignore' }
  }
  $qualimap {
    module = ['bioinfo-tools', 'samtools/1.3', 'QualiMap']
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
    errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'ignore' }
  }
  // NB: Overwrite this in your user config file (~/.nextflow/config)
  // if you have your own installation of MultiQC outside of the environment module system.
  // eg: Add the line: params.$multiqc.module = ''
  $multiqc {
    module = ['bioinfo-tools', 'MultiQC']
    errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'ignore' }
  }
  
  $makeBwaMemIndex {
    module = ['bioinfo-tools', 'bwa', 'bwa-meth', 'samtools/1.3']
  }
  $makeFastaIndex {
    module = ['bioinfo-tools', 'samtools/1.3']
  }
  $bwamem_align {
    module = ['bioinfo-tools', 'bwa', 'bwa-meth', 'samtools/1.3']
    cpus = { 8 * task.attempt }
    memory = { 64.GB * task.attempt }
  }
  $samtools_flagstat {
    module = ['bioinfo-tools', 'samtools/1.3']
  }
  $samtools_sort {
    module = ['bioinfo-tools', 'samtools/1.3']
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
  }
  $samtools_index {
    module = ['bioinfo-tools', 'samtools/1.3']
  }
  $markDuplicates {
    module = ['bioinfo-tools', 'picard/2.0.1']
    cpus = { 4 * task.attempt }
    memory = { 32.GB * task.attempt }
  }
  $pileOMeth {
    module = ['bioinfo-tools', 'PileOMeth']
    cpus = { 6 * task.attempt }
    memory = { 48.GB * task.attempt }
  }

  
}

params {
  clusterOptions = false
  params.saveReference = true
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh37' {
      bismark = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta'
    }
    'GRCm38' {
      bismark = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta'
    }
    'TAIR10' {
      bismark = '/sw/data/uppnex/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/WholeGenomeFasta'
    }
    'EB2' {
      bismark = '/sw/data/uppnex/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Sequence/WholeGenomeFasta'
    }
    'UMD3.1' {
      bismark = '/sw/data/uppnex/igenomes/Bos_taurus/Ensembl/UMD3.1/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Bos_taurus/Ensembl/UMD3.1/Sequence/WholeGenomeFasta'
    }
    'WBcel235' {
      bismark = '/sw/data/uppnex/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta'
    }
    'CanFam3.1' {
      bismark = '/sw/data/uppnex/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta'
    }
    'GRCz10' {
      bismark = '/sw/data/uppnex/igenomes/Danio_rerio/Ensembl/GRCz10/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Danio_rerio/Ensembl/GRCz10/Sequence/WholeGenomeFasta'
    }
    'BDGP6' {
      bismark = '/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/WholeGenomeFasta'
    }
    'EquCab2' {
      bismark = '/sw/data/uppnex/igenomes/Equus_caballus/Ensembl/EquCab2/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Equus_caballus/Ensembl/EquCab2/Sequence/WholeGenomeFasta'
    }
    'EB1' {
      bismark = '/sw/data/uppnex/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/WholeGenomeFasta'
    }
    'Galgal4' {
      bismark = '/sw/data/uppnex/igenomes/Gallus_gallus/Ensembl/Galgal4/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Gallus_gallus/Ensembl/Galgal4/Sequence/WholeGenomeFasta'
    }
    'Gm01' {
      bismark = '/sw/data/uppnex/igenomes/Glycine_max/Ensembl/Gm01/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Glycine_max/Ensembl/Gm01/Sequence/WholeGenomeFasta'
    }
    'Mmul_1' {
      bismark = '/sw/data/uppnex/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Sequence/WholeGenomeFasta'
    }
    'IRGSP-1.0' {
      bismark = '/sw/data/uppnex/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/WholeGenomeFasta'
    }
    'CHIMP2.1.4' {
      bismark = '/sw/data/uppnex/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/WholeGenomeFasta'
    }
    'Rnor_6.0' {
      bismark = '/sw/data/uppnex/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/WholeGenomeFasta'
    }
    'R64-1-1' {
      bismark = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta'
    }
    'EF2' {
      bismark = '/sw/data/uppnex/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/WholeGenomeFasta'
    }
    'Sbi1' {
      bismark = '/sw/data/uppnex/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Sequence/WholeGenomeFasta'
    }
    'Sscrofa10.2' {
      bismark = '/sw/data/uppnex/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/WholeGenomeFasta'
    }
    'AGPv3' {
      bismark = '/sw/data/uppnex/igenomes/Zea_mays/Ensembl/AGPv3/Sequence/BismarkIndex'
      fasta   = '/sw/data/uppnex/igenomes/Zea_mays/Ensembl/AGPv3/Sequence/WholeGenomeFasta'
    }
  }
}
