process {
    withName: BISMARK_METHYLATIONEXTRACTOR {
        ext.args = { [
            params.comprehensive   ? ' --comprehensive --merge_non_CpG' : '',
            params.meth_cutoff     ? " --cutoff ${params.meth_cutoff}" : '',
            params.nomeseq         ? '--CX' : '',
            params.ignore_r1 > 0   ? "--ignore ${params.ignore_r1}" : '',
            params.ignore_3prime_r1 > 0   ? "--ignore_3prime ${params.ignore_3prime_r1}" : '',
            meta.single_end ? '' : (params.no_overlap           ? ' --no_overlap'                         : '--include_overlap'),
            meta.single_end ? '' : (params.ignore_r2        > 0 ? "--ignore_r2 ${params.ignore_r2}"       : ""),
            meta.single_end ? '' : (params.ignore_3prime_r2 > 0 ? "--ignore_3prime_r2 ${params.ignore_3prime_r2}": "")
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/mbias" },
                mode: params.publish_dir_mode,
                pattern: "*M-bias.txt"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/methylation_coverage" },
                mode: params.publish_dir_mode,
                pattern: "*cov.gz"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/bedGraph" },
                mode: params.publish_dir_mode,
                pattern: "*bedGraph.gz"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/splitting_report" },
                mode: params.publish_dir_mode,
                pattern: "*splitting_report.txt"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/methylation_calls/methylation_calls" },
                mode: params.publish_dir_mode,
                pattern: "*txt.gz"
            ]
        ]
    }
}