process {
    withName: PRESEQ_LCEXTRAP {
        ext.args = " -verbose -bam"
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/preseq" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/${params.aligner}/preseq/log" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }
}