plugins {
    id 'nf-amazon@2.15.0-patch2'
}

docker.enabled = true

aws {
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    region = 'us-east-1'
}

process {
    executor = 'awsbatch'
    queue = 'demand-nextflowbatch-ami-500Gb_multisubnets_v2'
}


timeline {
  overwrite = true
}
report {
  overwrite = true
}
trace {
  overwrite = true
}
dag {
  overwrite = true
}

