/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Custom Genomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using AWS S3 paths.
    Can be used by any config that customises the base path using:
        $params.exogenomes_base / --exogenomes_base
----------------------------------------------------------------------------------------
*/

params {
    // Custom Methylation specific Genomes reference file paths
    genomes {
        'grch38_core_bs_controls' {
            fasta       = "${params.exogenomes_base}/grch38_core+bs_controls/genome.fa"
            fasta_index = "${params.exogenomes_base}/grch38_core+bs_controls/bwameth/genome.fa.fai"
            bwameth     = "${params.exogenomes_base}/grch38_core+bs_controls/bwameth/"
            bismark     = "${params.exogenomes_base}/grch38_core+bs_controls/BismarkIndex/"
            gtf         = "${params.exogenomes_base}/Homo_sapiens.GRCh38.106.gtf"
			twist_methylome_bed = "${params.exogenomes_base}/covered_targets_Twist_Methylome_hg38_annotated_collapsed.bed"
			repeat_annot = "${params.exogenomes_base}/chm13v2.0_rmsk.bb"
			hg38_chrom_sizes = "${params.exogenomes_base}/hg38.chrom.sizes"
        }
    }
}

