// module configs
includeConfig "../../conf/modules/fastqc.config"
includeConfig "../../conf/modules/trimgalore.config"
includeConfig "../../conf/modules/multiqc.config"
includeConfig "../../conf/modules/preseq_lcextrap.config"
includeConfig "../../conf/modules/qualimap_bamqc.config"

// subworkflow configs
includeConfig "../../subworkflows/nf-core/fasta_index_bismark_bwameth/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_dedup_bismark/nextflow.config"
includeConfig "../../subworkflows/local/bwameth/nextflow.config"

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}
