/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

includeConfig "../../subworkflows/local/bismark/nextflow.config"
includeConfig "../../subworkflows/local/bwameth/nextflow.config"
includeConfig "../../subworkflows/local/prepare_genome/nextflow.config"

includeConfig "../../modules/nf-core/fastqc/nextflow.config"
includeConfig "../../modules/nf-core/trimgalore/nextflow.config"
includeConfig "../../modules/nf-core/multiqc/nextflow.config"
includeConfig "../../modules/nf-core/preseq/lcextrap/nextflow.config"
includeConfig "../../modules/nf-core/qualimap/bamqc/nextflow.config"

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}
