includeConfig "../../../modules/nf-core/bismark/align/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/deduplicate/nextflow.config"
includeConfig "../../../modules/nf-core/samtools/sort/nextflow.config"
includeConfig "../../../modules/nf-core/samtools/index/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/methylationextractor/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/coverage2cytosine/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/report/nextflow.config"
includeConfig "../../../modules/nf-core/bismark/summary/nextflow.config"