includeConfig "../../../conf/modules/bismark_align.config"
includeConfig "../../../conf/modules/bismark_deduplicate.config"
includeConfig "../../../conf/modules/samtools_sort.config"
includeConfig "../../../conf/modules/samtools_index.config"
includeConfig "../../../conf/modules/bismark_methylationextractor.config"
includeConfig "../../../conf/modules/bismark_coverage2cytosine.config"
includeConfig "../../../conf/modules/bismark_report.config"
includeConfig "../../../conf/modules/bismark_summary.config"