process {
    withName: BISMARK_GENOMEPREPARATION {
        ext.args = [
            params.aligner == 'bismark_hisat' ? ' --hisat2' : ' --bowtie2',
            params.slamseq ? ' --slam' : ''
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/reference_genome" },
            saveAs: { it =~ /.*\.yml/ ? null : it },
            mode: params.publish_dir_mode,
            enabled: params.save_reference
        ]
    }
}