process {
    withName: PARABRICKS_FQ2BAMMETH {
        ext.args = '--low-memory'
        publishDir = [
                path: { "${params.outdir}/${params.aligner}/alignments" },
                pattern: "*.bam",
                mode: params.publish_dir_mode,
                enabled: params.save_align_intermeds
        ]
    }
}