/*
========================================================================================
    wmg_nextflow/masterworkflow Nextflow AWS c5.24xlarge config file
========================================================================================
    Default config options for AWS EC2
----------------------------------------------------------------------------------------
*/

// We have s3 auto-deletions in place to clean up workdir after 5 days,
// providing some time to debug failed runs.
cleanup = false

params {

    // Input options
    input                      = null
    tab_id                     = 1
    tab_name                   = 'default'

    // References
    references_dir             = 's3://watchmaker-lts/gallywix_genomes'
    annotations_dir            = 's3://watchmaker-lts/gallywix_annotations'
    panels_dir                 = 's3://watchmaker-lts/gallywix_panels'
    family_metrics_dir         = 's3://watchmaker-lts/wmg_family_metrics_assets'
    benchmark_dir              = 's3://watchmaker-lts/benchmark_assets'
    extrinsic_seqs_dir         = 's3://watchmaker-lts/gallywix_extrinsic_seqs'
    null_file                  = 's3://watchmaker-lts/assets/NULL_FILE'
    // genome                     = null
    // igenomes_base              = 's3://ngi-igenomes/igenomes'
    // igenomes_ignore            = true

    // Samples
    samples_dir                = 's3://watchmaker-lts/gallywix_samples'

    // CSR
    csr_dir                    = 's3://watchmaker-lts/csr_ancillary_files'

    // METH_CRACKER
    tamer_assets               = 's3://watchmaker-lts/tamer_assets'

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    max_multiqc_email_size     = '25.MB'

    // Legacy output locations
    outdir_legacy              = "s3://watchmaker-lts/masterworkflow/${params.tab_name}/outputs"

    // Output locations
    outdir                     = "s3://watchmaker-lts/casserole"
    tracedir                   = "${params.outdir}/pipeline_info/${params.tab_name}"
    metrics_dir                = "${params.outdir}/metrics/metl"
    report_path                = "s3://chefs-buffet-hosted-files/${params.tab_name}/nextflow/report.html"
    timeline_path              = "s3://chefs-buffet-hosted-files/${params.tab_name}/nextflow/timeline.html"
    multiqc_dir                = "s3://chefs-buffet-hosted-files/${params.tab_name}"

    // Max resource options
    max_memory                 = '256.GB'
    max_cpus                   = 256
    max_time                   = '240.h'

}
