process {
    withName: BWAMETH_ALIGN {
        ext.args = ''
        publishDir = [
                path: { "${params.outdir}/${params.aligner}/alignments" },
                pattern: "*.bam",
                mode: params.publish_dir_mode,
                enabled: params.save_align_intermeds
        ]
    }
}